services:
  web:
    build:
      context: .
      dockerfile: src/DirectoryService.API/Dockerfile
    ports:
      - "8000:8000"
    environment:
      ASPNETCORE_ENVIRONMENT: Docker
  
  postgres:
    container_name: postgres
    image: postgres
    restart: always
    environment:
      POSTGRES_DB: directory_service_db
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data
  
  seq:
    container_name: seq
    image: datalust/seq:latest
    restart: always
    environment:
      ACCEPT_EULA: Y
    ports:
      - 5341:5341
      - 8081:80
  
volumes:
  postgres-data:  